.gpt__whatgpt {
    display: flex;
    flex-direction: column;

    padding: 2rem; 
    background: var(--color-footer);

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.gpt__whatgpt-feature{
    display: flex;
}
.gpt__whatgpt-heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 4rem 0 2rem;
}
.gpt__whatgpt-heading h1{
    font-size: 34px;
    line-height: 45px;
    font-family: var(--font-family);
    font-weight: 800;
    max-width: 510px;
}
.gpt__whatgpt-heading p{
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-family);
    line-height: 30px;
    color: var(--color-subtext);
    cursor: pointer;
}
.gpt__whatgpt-feature .gpt__feature-container__feature{
    margin: 0;
}
.gpt__whatgpt-feature .gpt__feature-container__feature-text{
    max-width: 700px;
}
.gpt__whatgpt-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2rem;
}
.gpt__whatgpt-container .gpt__features-container__feature{
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
}
.gpt__whatgpt-container .gpt__feature-container__feature-text{
    margin-top: 2rem;
}

@media screen and (max-width: 850px) {
    .gpt__whatgpt-heading{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }
    .gpt__whatgpt-heading p{
        margin-top: 1rem;
    }    
}

@media  screen and (max-width: 650px) {
    .gpt__whatgpt-feature .gpt__features-container__feature {
        flex-direction: column;
    }
    .gpt__whatgpt-feature .gpt__feature-container__feature-text{
        margin-top: 0.5rem;
    }
    .gpt__whatgpt-heading h1{
        font-size: 28px;
        line-height: 40px;
    }
    .section__margin{
        margin: 0rem 2rem;
    }
    
}
@media  screen and (max-width: 350px) {
    .gpt__whatgpt-container .gpt__features-container__feature {
        margin: 1rem 0rem;
        min-width: 100%;
    }
    .section__margin{
        margin: 0rem;
    }    
}