.gpt__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}
.gpt__navbar-links{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gpt__navbar-links_logo{
    margin-right: 2rem;   
}
.gpt__navbar-links_logo img{
    width: 62.56px;
    height: 16.02px;
}
.gpt__navbar-links_container{
    display: flex;
    flex-direction: row;
}
.gpt__navbar-sign{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.gpt__navbar-links_container p, 
.gpt__navbar-sign p,
.gpt__navbar-menu_container p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}
.gpt__navbar-sign button,
.gpt__navbar-menu_container button
{
    padding: 0.5rem 1rem;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--color-subtext);
}